.container{
    display: flex!important;
    .main{
        padding: 20px
    }
    .nav_left{
        width: 220px;
        height: calc(100vh);
    }   
}
html,body *{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}